.details {
  background-color: #f6f7fd;
  padding: 100px 0;
}

.detail-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.detail {
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  margin: 10px;
}

/* @media screen and (max-width: 1200px) {
  .detail-cards {
    justify-content: center;
  }
  .detail {
    margin: 10px;
  }
} */


.detail__title {
  position: relative;
  min-height: 60px;
}

.detail__title h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  color: #060c22;
  position: relative;
}

.detail__title h2::after {
  content: '';
  width: 50px;
  height: 3px;
  background-color: #febf10;
  display: block;
  position: absolute;
  bottom: -5px;
}

.detail__text {
  color: #060c22;
  font-size: 0.9rem;
}

.detail__text ul {
  padding-left: 20px;
  list-style-type: circle;
}

.applications {
  margin: 100px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .applications {
    justify-content: center;
  }
}

.applications a:hover img {
  transform: scale(1.1);
}

.application {
  border-radius: 10px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.application img {
  width: 120px;
  max-width: 100%;
  margin: 20px;
  transition: .2s transform ease-in;
}

.application p {
  font-size: 1rem;
  color: #060c22;
  font-weight: 600;
}


.schedule {
  background-color: #eaeaee;
  padding: 100px 0;
}

.schedules {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.schedule__card {
  background-color: #060c22;
  color: #fff;
  min-height: 100px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.schedule__count {
  font-size: 2.5rem;
  margin-right:10px;
  font-weight: 600;
}

.schedule__title {
  font-size: 1rem;
  font-weight: 500;
  margin: 5px 0;
}

.schedule__date {
  font-size: 0.8rem;
  margin: 2px 0;
  font-weight: 200;
}